@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */


@layer components {
	/* typography */
	.heading-1 {
		@apply font-bold !text-h-1 font-manrope;
	}

	.heading-2 {
		@apply font-bold !text-h-2 font-manrope;
	}

	.heading-3 {
		@apply font-bold !text-h-3 font-manrope;
	}

	.heading-4 {
		@apply font-bold !text-h-4 font-manrope;
	}

	.heading-5 {
		@apply font-semibold !text-h-5 font-manrope;
	}

	.heading-6 {
		@apply font-semibold !text-h-6 font-manrope;
	}

	.heading-7 {
		@apply font-semibold !text-h-7 font-manrope;
	}

	.heading-8 {
		@apply font-semibold !text-h-8 font-manrope;
	}

	.body-1 {
		@apply font-medium !text-b-1 font-manrope;
	}

	.body-2 {
		@apply font-medium !text-b-2 font-manrope;
	}

	.body-3 {
		@apply font-medium !text-b-3 font-manrope;
	}

	.body-4 {
		@apply font-normal !text-b-4 font-manrope;
	}

	.body-5 {
		@apply font-normal !text-b-5 font-manrope;
	}

	/* button */
	.button {
		@apply px-3 py-3 font-medium text-center transition-all duration-300 rounded cursor-pointer font-manrope first-letter:uppercase active:opacity-50 hover:lg:opacity-50 disabled:cursor-default disabled:opacity-50 !text-b-3;
	}

	.button-primary {
		@apply button bg-primary-300 text-neutral-100;
	}

	.button-secondary {
		@apply button bg-secondary-300 text-neutral-100;
	}

	.button-destructive {
		@apply button bg-error-500 text-neutral-100;
	}

	.button-warning {
		@apply button bg-warning-300 text-neutral-100;
	}

	.button-success {
		@apply button bg-success-300 text-neutral-100;
	}

	.button-black {
		@apply button bg-[#1A1A1A] text-neutral-100;
	}

	.button-muted {
		@apply button bg-neutral-10 text-neutral-900;
	}

	.button-ghost {
		@apply bg-transparent button text-neutral-1000;
	}

	.button-outline {
		@apply bg-transparent border button text-neutral-1000;
	}
}


@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

.shake-animation {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.hide-scrollbar {
	scrollbar-width: none !important;
}

.thin-scrollbar::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

/* width */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* Track */
::-webkit-scrollbar-track,
.thin-scrollbar::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb,
.thin-scrollbar::-webkit-scrollbar-thumb {
	background: #687489 !important;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
.thin-scrollbar::-webkit-scrollbar-thumb {
	background: #555;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}